/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21/01/2024, 2:35:35 p. m.
    Author     : Jhoalvi
*/
body{
    text-align: center;
    margin: 0;

}

.form{
    width: 100%;
}

.logo {
  margin-top: 50px;
  width: 100%;
}

.img {
  width: 200px;
  height: 120px;
}

.container {
  margin-top: 20px;
  display: inline-block;
  background-color: red;
  width: 250px;

  height: 320px;
  margin-bottom: 50px;
}

.title {
  color: white;
  font-style: italic;
  font-size: 20px;
}

.inputs {
  display: grid;
  padding: 10px 15px;
}

.input::placeholder {
  color: black;
}

.input {
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
}

.input2 {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
}

.input2::placeholder {
  color: black;
  font-size: 12px;
}

.rol {
  color: white;
  font-style: italic;
  font-size: 20px;
}

.others {
  display: grid;
  padding: 10px 15px;
}

.select {
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
}

.btn {
  padding: 5px 50px;
  margin-bottom: 50px;
  border: none;
  background-color: orange;
  font-size: 10px;
  color: white;
  border-radius: 2px;
}

